@font-face {
  font-family: dot;
  src: url(font/DotGothic16-Regular.ttf) format(TrueType);
}

.home {
  text-align: center;
  color: rgb(77, 77, 77);
  background-color: rgb(235, 235, 235);
    font-family: dot;
}

.title {
  padding: 20px;

}

.icon-item {
  text-decoration: none;
}

.icon-item img {
  width: 80px;
  margin: 20px;
  transition: all 0.3s ease;
}

.icon-item img:hover {
  transform: translateY(-10px);
}


/*日記 */


.nikki {
  color: rgb(77, 77, 77);
  background-color: rgb(235, 235, 235);
  font-family: dot;
  margin-left:  50px;
}

.nikki-title {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  padding: 0;
  margin-bottom: 30px;
}

.home-back {
  margin-right: 50px;
}

.midasi {
  padding: 10px;
  font-size: 1.1em;
}

.nakami {
  padding: 5px;
  background-color: rgb(245, 245, 245);
  max-width: 250px;
  font-size: 0.8em;

}