body {
  max-width: 490px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
    text-align: center;
}

.home {
    text-align: center;
    margin-bottom: 30px;
}

.home a{
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}

.accordion-area {
  width: 65%; 
}

.character-area {
    width: 30%;
}

/* 立ち絵がエリアからはみ出さないようにする */
.character-area img {
  max-width: 100%;
  height: auto;
  display: block; /* 下の隙間を消す */
}

.accordion-area {
    border: 2px solid;
}

summary {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 16px 20px;
}

.content {
    padding: 10px 15px;
}